body {
  background-color: #000;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ff0080, #ff8c00, #39ff14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
